[submodule "ros"]
	path = ros
	url = https://github.com/merlotliu/ros-notes
[submodule "git"]
	path = git
	url = https://github.com/merlotliu/git-notes
[submodule "cpp"]
	path = cpp
	url = https://github.com/merlotliu/cpp-notes
[submodule "mac"]
	path = mac
	url = https://github.com/merlotliu/mac-notes
